//
    a.open-modal(href="#modal") Open
    a.open-modal(href="#modal2") Open2
    footer
    #modal.modal_div
        .modal_close Close
        .holder-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
    #modal2.modal_div
        .modal_close Close
        .holder-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
    #promo.modal_div
        .modal_close Close
        .holder-content
            p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Promo
    #overlay
script(src="bower_components/jquery/dist/jquery.js")
//script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
//script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
//script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
script(src="js/functions.js")


script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?v=3&key=AIzaSyD09gZY2fkBhBp213AAKuNXU7rOHnV1uz4')
script(src="js/map.js")