doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper

            include ./header.jade

            .content

                //.tooltip_example
                    a(href="#" data-toggle="tooltip" data-placement="right" data-tooltip="Lorem Ipsum - це текст-риба, що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною рибою аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. 11111") Hover1

                    a(href="#" data-toggle="tooltip" data-placement="bottom" data-tooltip="Lorem Ipsum - це текст-риба, що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною рибою аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. 2222") Hover2

                    a(href="#" data-toggle="tooltip" data-placement="top" data-tooltip="Lorem Ipsum - це текст-риба, що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною рибою аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. 3333") Hover3
                    //.tooltip xhxfhxf

                .slider
                    .item
                        img(src="img/content/photo-1.jpg" alt="photo-1")
                    .item
                        img(src="img/content/photo-2.jpg" alt="photo-2")
                    .item
                        img(src="img/content/photo-3.jpg" alt="photo-3")
                    .item
                        img(src="img/content/photo-4.jpg" alt="photo-4")
                    .item
                        img(src="img/content/photo-5.jpg" alt="photo-5")


            include ./footer.jade



